firmware/** linguist-vendored
include/** linguist-vendored
include/autonomous.h linguist-vendored=false
include/global.h linguist-vendored=false
include/main.h linguist-vendored=false
common.mk linguist-vendored
Makefile linguist-vendored
project.pros linguist-vendored
